body {
    /* background-color: #4359FF; */
    /* background-image: linear-gradient(to bottom right, #4359FF, #8F9CFF); */
    /* background-image: linear-gradient(rgba(67, 89, 255, 1),rgba(67, 89, 255, .3)); */
    /* background-image: url("../images/fuzzBg.png");
    background-size: cover; */
    /* background-image: url("../images/person-writing-on-notebook-669615.jpg");
    background-size: cover; */
}

.sideBar {
    width: 0;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s
}

.sideBar a {
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
}

header {
    /* background-image: url("../../assets/images/transitionScaled.png");
    background-repeat: no-repeat;
    background-size: cover; */
    height: 200px;
    position: -webkit-sticky; /*For Safari*/
    position: sticky;
    top: 0;
}

.title {
    text-align: center;
    font-style: italic;
    padding: 57px 0;
}

h1 {
    font-family: 'Sarabun', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Sarabun', sans-serif;
    font-size: 2em;
    font-style: italic;
    text-align: center;
    padding-bottom: 1%;
}

hr {
    margin: 2% 0;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
}


.navBar {
    list-style-type: none;
    width: 531px;
    margin: 0 auto;
    background-color: rgba(130, 210, 255, .5);
    padding: 10px 0;
    border: 1px groove #A8B2FF;
    border-radius: 5px;
}

.navBar li {
    display: inline-block;
    text-align: center;
}

.navBar li a {
    padding: 10px 8px;
    border-radius: 5px;
    margin: 0;
}

.navBar li a:hover {
    background-color: rgba(130, 210, 255, .2);
}

.active {
    background-color: rgba(130, 210, 255, .5);
}

.container {
    content: "";
    clear: both;
    display: block;
    width: 66%;
    background-color: white;
    margin: auto;
    padding: 2% 1%;
}

footer {
    text-align: center;
    padding: 1%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

footer i {
    font-style: italic;
}