body {
    background-color: #4cffab;
}

.title {
    text-align: center;
}

.navBar {
    list-style-type: none;
    position: sticky;
    float: right;
    padding: 10px;
}

.navBar li {
    display: inline-block;
}